---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <header>
        <h1>Cherkasov Evgeny</h1>
      </header>
      <div>
        <p>
          <strong
            >Frontend Developer and Team Leader with 10 years experience in
            frontend</strong
          >
        </p>
        <figure>
          <div>
            📩 Email: <a href="mailto:eacherkasov@ya.ru">eacherkasov@ya.ru</a>
          </div>
          <div>
            📲 Telegram: <a href="https://t.me/stipjey">https://t.me/stipjey</a>
          </div>
        </figure>
        <h2>
          <strong>About me</strong>
        </h2>
        <p>
          Frontend developer with 10 years of commercial development experience.
          Last six years working remotely in teams of two to ten people. Team
          management experience of just over three years. I know how to turn
          business desires into working code: from requirements gathering and
          ticket creation to release in production via CI/CD and analytics.<br
          />I enjoy managing the development team: managing the stack,
          conducting code reviews, and optimizing performance. I know how to
          conduct technical interviews and grow professionals on the team. I
          also have experience mentoring at HTML Academy and without company
          involvement. I integrate well with any team. I am good at evaluating
          tasks and working with new challenges.<br />I have a lot of experience
          with React and its ecosystem. I&#x27;ve tried many state managers and
          other ecosystem libraries and know how to choose the right technology
          for specific tasks.<br />
        </p>
        <h2>Hard skills</h2>
        <p>
          <strong
            >Current stack: React, TypeScript, Effector, Vite/Webpack</strong
          >
        </p>
        <p>
          Other: JavaScript, Redux, Redux ToolKit, Redux-saga, Reatom, Webpack,
          Canvas, Phaser.js, d3.js, Git,
        </p>
        <h2>Languages</h2>
        <ul>
          <li>Russian — Native</li>
          <li>English — B1</li>
        </ul>
        <h2>Education</h2>
        <p>
          <strong>Bachelor of Software engineering: 2011 — 2015</strong>
        </p>
        Ivanovo State Power University
      </div>
      <h2>Experience</h2>
      <p>
        <strong>MultiBonus Loyalty Program: 2020 — PRESENT</strong>
      </p>
      <ul>
        <li>
          Conducted more than 50 technical interviews. Hired 9 of the best
          frontenders
        </li>
        <li>Built development processes in the team</li>
        <li>
          Developed the product delivery module, integrated with three different
          systems: couriers, delivery points, e-mail
        </li>
        <li>Refined CMS Strapi for business needs</li>
      </ul>
      <p>Technologies: TypeScript, React, Effector, Vite, Styled-Components</p>
      <p>
        Links: <a href="https://multibonus.ru/">https://multibonus.ru/</a>
      </p>
      <p>
        <strong>Hawk House Integrations: 2018 — 2020</strong>
      </p>
      <ul>
        <li>Developed a document center operator workstation</li>
        <li>
          Developed the medicines section of the medical information system
        </li>
      </ul>
      <p>
        Technologies: TypeScript, React, Redux, Styled-Components, SSR, Webpack
      </p>
      <p>
        Links: <a href="https://vip.1crs.ru/">https://vip.1crs.ru/</a>
      </p>
      <p>
        <strong>MBK Fintech: 2016 — 2018</strong>
      </p>
      <ul>
        <li>Developed three financial games for the web</li>
        <li>Integrated support for slot machines</li>
        <li>
          Developed binary options platform
          <a href="http://binevo.com/">binevo.com</a>
        </li>
        <li>
          Developed a personal account for an Iranian bank. Made RTL support
        </li>
        <li>
          Developed a platform for mutual settlements between legal entities
        </li>
        <li>Developed a cryptocurrency exchange system</li>
        <li>Hired 3 frontenders</li>
      </ul>
      <p>Technologies: React, Redux, Canvas, Phaser.js, LESS, Webpack</p>
      <p>
        Links: <a href="https://binevo.com/en/">https://binevo.com/en/</a>,
        <a href="https://galleon.games/en/">https://galleon.games/en/</a>
      </p>
      <p>
        <strong>TopFace Labs: 2015 — 2016</strong>
      </p>
      <ul>
        <li>Developed frontend of the game «Clash Tyrane»</li>
      </ul>
      <p>
        Technologies: JavaScript, React, Redux, Phaser.js, WebGL, Canvas, LESS
      </p>
      <p>
        Links:
        <a href="https://youtu.be/KIDFKer18Tw">https://youtu.be/KIDFKer18Tw</a>
      </p>
      <p>
        <strong>Alternative Soft: 2014 — 2015</strong>
      </p>
      <ul>
        <li>Developed warehouse accounting subsystem</li>
        <li>
          Developed drivers (COM) for fiscal printer and scales for ChromeApp
        </li>
      </ul>
      <p>Technologies: JavaScript, PostgreSQL</p>
      <p>
        <strong>E&amp;M: 2012 — 2014</strong>
      </p>
      <ul>
        <li>Developed 5 multi-page websites</li>
      </ul>
      <p>Technologies: WordPress (PHP, MySQL, JavaScript, jQuery)</p>
    </main>

    <Footer />
  </body>
</html>
